@media screen and (max-width: 990px) {
  #index-container {
    display: flex;
    flex-direction: column !important;
  }
  .card-group {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .card-body {
    padding-block-start: 1rem !important;
    padding-block-end: 1rem !important;
  }
  #index-card {
    margin-top: 3rem;
  }
}
.form-group-custom {
  display: flex;
  flex-flow: column wrap;
  padding: 0 2rem 0 2rem;
  align-items: center;
  align-items: stretch;
  align-self: center;
}

.form-group-custom2 {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 3rem 1rem 3rem;
  align-items: center;
  align-items: stretch;
  align-self: center;
}

.label {
  display: none;
}

/*Layout.html*/

html,
body {
  height: 100vh; /*initial body height will take 100% of the viewport height*/
}
body {
  background-color: rgb(201, 219, 150);
}

#main-container {
  width: 100vw !important;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh !important;
  justify-content: space-evenly;
}

.container-nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 3.2rem;
}

#big-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: stretch;
  height: 100vh;
}

footer {
  display: flex;
  position: relative;
  bottom: 0 !important;
  height: 1.5rem;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(230, 230, 230, 0.3);
  font-size: smaller;
}

.alert {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.alert-success {
  background-color: grey;
  color: rgb(201, 219, 150);
  border-color: none;
  border-radius: none !important;
  margin-bottom: none !important;
  position: absolute;
  width: 100vw;
  margin-left: 0;
}

.bg-image {
  background-image: url("torcacitacut.png");
  height: 100vh;
  box-shadow: inset 2000px 0 0 0 rgba(233, 245, 199, 0.7);
  transform: scaleX(-1);
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 10%;
  position: absolute;
  z-index: -1 !important;
}
@media only screen and (max-width: 600px) {
  .bg-image {
    background-image: url("torcacitacut_640x480.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 100% 30%;
    background-color: rgb(123, 132, 103);
  }
}

#textmail {
  color: rgb(33, 37, 41);
}

#textmail:hover {
  color: rgb(99, 148, 0) !important;
}

#navbar {
  background-color: #333;
}

.nav-link {
  background-color: #333;
}

.nav-link:hover {
  color: white !important;
  text-shadow: 4px 4px 8px rgb(193, 255, 24);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #04aa6d;
}

/*index.html*/
#title {
  padding-right: 3vw;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
}

.titulo-index {
  color: rgb(33, 37, 41) !important;
  margin: 0;
  margin-top: 0;
}

.index-card {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0;
  display: flex;
}

.card-body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding-block-start: 4rem;
  padding-block-end: 4rem;
}

.box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: baseline;
}
.card-title {
  color: #dee2e6;
  font-size: 1.3rem;
}

.btn-primary {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  margin: 0.3rem 0 0.3rem;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: rgb(201, 219, 150);
  color: rgb(33, 37, 41) !important;
  border-color: rgba(0, 0, 0, 0.4) !important;
  box-shadow: none;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(201, 219, 150, 0.4) !important;
}

#userDropdown {
  background-color: #333;
  color: rgb(201, 219, 150) !important;
  font-size: large;
  padding-right: 8vw !important;
}

#userDropdown:hover {
  color: white !important;
  text-shadow: 4px 4px 8px rgb(193, 255, 24);
  background-color: #333;
}

.dropdown-menu {
  min-width: inherit;
  margin: 1vh 1vw 1vh 1vw;
  background-color: rgb(66, 66, 66);
}
.dropdown-item {
  padding: 1vh 4vw 1vh 1vw;
  min-width: inherit;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgb(201, 219, 150) !important;
  color: rgb(33, 37, 41) !important;
}

.gm-style img {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  vertical-align: left;
}

.text-secondary {
  color: rgb(201, 219, 150) !important;
}

.table {
  width: 100%;
}

td {
  width: 100px;
}

/* Login.html */

.card-bg {
  background-color: rgba(0, 0, 0, 0.4);
  color: #dee2e6;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  width: 22rem;
  margin-left: 3rem;
  margin-top: 2rem;
}

#container-login {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
}

#recordarme {
  display: flex;
  flex-direction: row;
}

#remember {
  margin-top: 0.2rem;
}

.form-control,
.form-control:focus {
  border-color: grey;
  font-size: 16px;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(207, 207, 207, 0.25);
}

.form-check-input:checked {
  background-color: rgb(201, 219, 150);
  border-color: rgb(201, 219, 150);
}

:focus-visible {
  outline: 1px solid rgb(201, 219, 150);
  color: rgb(66, 66, 66);
}
#submit {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.link {
  color: #dee2e6;
}

.link:hover {
  color: rgb(201, 219, 150);
}

.custom_input {
  font-size: normal;
  word-wrap: break-word;
  box-sizing: border-box;
  margin: 0;
  display: block;
  width: 250px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*Modals in search.html*/
.edad {
  text-align: left;
}

.negrita {
  font-weight: bold;
}

.modal-title,
.modal-body {
  color: black;
}

/* Google Maps in search.html */
#map {
  min-height: 520px;
  width: 100%;
  height: 100%;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

.inside-main {
  border: 10 100 10 100 !important;
  width: 100%;
  height: 100%;
  /*  no anda*/
}

/* Profile.html */
.card-profile {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  margin: 0 1rem 1rem 1rem;
  justify-content: space-between;
  align-content: space-between;
  align-items: center;
}

.card-group {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 1rem;
}

li::marker {
  margin-left: 0.5rem;
}

#lugar {
  display: flex;
  flex-direction: column;
}
