{% extends "layout.html" %}

{% block head %}
<title>Mi cuenta</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAqoKvZMX0sWGNCDPWKYyBvLNkkPrV6KvE"></script>
<script>
$(document).ready(function(){

  var replaced;
  $(document).on("click", "#ubicacion", function() {
    // Save what's being replaced
    replaced = $(this).replaceWith('<td><form><input type="text" id="ubicacion"></form></td>');
    $("#ubicacion").focus()
    console.log('replacing');

  /*Google Places Autocomplete*/
  var searchInput = 'ubicacion';

  var autocomplete;
  autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
    types: ['geocode'],
  });
    
  google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var near_place = autocomplete.getPlace();
      document.getElementById('loc_lat').value = near_place.geometry.location.lat();
      document.getElementById('loc_long').value = near_place.geometry.location.lng();
  });

  });
 
  $(document).on("click", "#telef", function() {
    // Restore it
    $("#ubicacion").replaceWith(replaced);
    console.log('restoring')
  });
  
  /*Send new values to update DB*/      
  $("#update").click(function(){
    var especie = $("#especie").html()
    var edad = $("#edad").html()
    var ubicacion = $("#ubicacion").html()
    $.post("/editbird/updatebird",
    {
    especie:especie,
    edad:edad,
    estsalud:estsalud,
    requer:requer,
    tiporef:tiporef,
    ubicacion:ubicacion,
    telef:telef
    },
  )});
});
</script>
{% endblock %}  

{% block navbar %}
<li><a href="{{ url_for('index') }}" class="nav-link px-2 text-secondary">Inicio</a></li>
<li><a href="{{ url_for('addbird') }}" class="nav-link px-2 text-white">Reportar un ave</a></li>
<li><a href="{{ url_for('addplace') }}" class="nav-link px-2 text-white">Ofrecer un refugio</a></li>            
<li><a href="{{ url_for('search') }}" class="nav-link px-2 text-white">Buscar aves o refugios</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8">
        {% for ave in aves_dict %}
        <div class="table-content">
          <table class="table table-borded table-striped" style="table-layout:fixed; overflow:auto;" id="table-list">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Especie:</td>
                <td class="edit" id="especie" contenteditable="true">{{aves_dict[ave].Especie[0]|upper}}{{aves_dict[ave].Especie[1:]}}</td>
              </tr>
              <tr>
                <td>Edad:</td>
                <td class="edit" id="edad" contenteditable="true">{{aves_dict[ave].Edad[0]|upper}}{{aves_dict[ave].Edad[1:]}}</td>
              </tr>
              <tr>
                <td>Estado de salud:</td>
                <td class="edit" id="estsalud" contenteditable="true">{{aves_dict[ave].EstSalud[0]|upper}}{{aves_dict[ave].EstSalud[1:]}}</td>
              </tr>
              <tr>
                <td>Requerimientos de cuidado:</td>
                <td class="edit" id="requer" contenteditable="true">{{aves_dict[ave].Requer[0]|upper}}{{aves_dict[ave].Requer[1:]}}</td>
              </tr>
              <tr>
                {% for tipo in refugios_ave %}
                <td>Necesita un lugar para: </td>
                <td class="edit" id="tiporef" contenteditable="true">{{refugios_ave[0]}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for ubicacion in ubic_dict %}
                <td>Ubicación actual del ave: </td>
                <td class="edit" id="ubicacion" contenteditable="true">{{ubic_dict[ubicacion].Direccion}}</td>
                {% endfor %}
              </tr>
              <tr>
                {% for telefono in telef_dict %}
                <td>Teléfono de contacto (celular y/o Whatsapp): </td>
                <td class="edit" id="telef" contenteditable="true">{{telef_dict[telefono].Telefono}}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div> 
        {% endfor %}
    </div>
    <div class="col-4">
        {% for ave in aves_dict %}
        {% set foto = 'static/upload/' + aves_dict[ave].Foto  %}
            <img src= {{ foto }} class="card-img-top" alt="..." style="max-width: 22rem; border-radius: 8px; ;object-fit:cover;">
            <p>Subir otra imagen</p>
        {% endfor%}
        <form action="/profile">
        <button type="submit" id="update"><span class="glyphicon glyphicon-plus-sign"></span>Confirmar cambios</button>
        </form>
      </div>    
  </div>
</div>

<script>


  

</script>

{% endblock %}