{% extends "layout.html" %}

{% block head %}
<title>Mi cuenta</title>
{% endblock %}  

{% block navbar %}
<li><a href="{{ url_for('index') }}" class="nav-link px-2 text-secondary">Inicio</a></li>
<li><a href="{{ url_for('addbird') }}" class="nav-link px-2 text-white">Reportar un ave</a></li>
<li><a href="{{ url_for('addplace') }}" class="nav-link px-2 text-white">Ofrecer un refugio</a></li>            
<li><a href="{{ url_for('search') }}" class="nav-link px-2 text-white">Buscar aves o refugios</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex" style="margin:none;">
  <div class="bg-image" 
  style="background-image: url('static/aves-1.jpg');
      height: 100vh; background-size: cover; width: 100%; position:absolute">
  </div>
  <div class="container-fluid d-flex"></div>
  <div class="row">
      <div class="col-sm-12">
          <div class="card-group">
              {% for ave in aves_dict %}
              <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                  {% set i = 0 %}
                  <div class="card-header">En busca de {{ refugios_ave[i] }}</div>
                  {% set i = i + 1 %} 
                  <div class="card-body">
                  <h5 class="card-title">{{ aves_dict[ave].Especie }}</h5>
                  {% set foto = 'static/upload/' + aves_dict[ave].Foto  %}
                  <img src= {{ foto }} class="card-img-top" alt="..." style="max-width: 12rem; border-radius: 8px; height: 8rem;object-fit:cover;">
                  <a href="{{ url_for('editbird') }}" class="btn btn-primary editar_ave">Editar</a><span></span>
                  <a href="#" class="btn btn-primary buttonDelAve">Eliminar</a>  
                  </div>
              </div>

              <script>
              var searchInput = 'localiz';

              $(document).ready(function () {
                  var autocomplete;
                  autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
                      types: ['geocode'],
                  });
                      
                  google.maps.event.addListener(autocomplete, 'place_changed', function () {
                      var near_place = autocomplete.getPlace();
                      document.getElementById('loc_lat').value = near_place.geometry.location.lat();
                      document.getElementById('loc_long').value = near_place.geometry.location.lng();
                              
                      document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
                      document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();
                  });
              });
              </script>
              <div class="mb-3">
                {{ form.lugar.label }} <br>
                {% for subfield in form.lugar %}
                  {{ subfield }}
                  {{ subfield.label }}
                {% endfor %}
              </div>  
              <div class="mb-3">
                {{ form.requer.label }}
                {{ form.requer }}
              </div>
              <div class="mb-3">
                {{ form.contacto.label }}
                {{ form.contacto }}
              </div>
              <div class="mb-3">
              <h1>File Upload</h1>
                {{ form.imagen }}
              </div>  
          </form>
        </div>
              <div>
                {{ form.submit }}
              </div>
      </div>
    </div>
      <div class="col-7 d-flex align-items-center" style="z-index:10; color:rgb(231, 231, 231); text-align: end;">
        <h1>Reportá un ave caída para que otras personas le den un lugar de tránsito o un hogar permanente.</h1>
      </div>
  </div>
</div>
  {% endblock %}