{% extends "layout.html" %}

{% block head %}
<title>Mi cuenta</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyAqoKvZMX0sWGNCDPWKYyBvLNkkPrV6KvE"></script>
<script>

</script>
{% endblock %}  

{% block navbar %}
<li><a href="{{ url_for('index') }}" class="nav-link px-2 text-secondary">Inicio</a></li>
<li><a href="{{ url_for('addbird') }}" class="nav-link px-2 text-white">Reportar un ave</a></li>
<li><a href="{{ url_for('addplace') }}" class="nav-link px-2 text-white">Ofrecer un refugio</a></li>            
<li><a href="{{ url_for('search') }}" class="nav-link px-2 text-white">Buscar aves o refugios</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8">
        {% for ave in aves_dict %}
        <div class="table-content">
          <table class="table table-borded table-striped" style="table-layout:fixed; overflow:auto;" id="table-list">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr>
                <form action="/editbird/updatebird" method="post" enctype="multipart/form-data">
                <td>Especie:</td>
                <td><input class="form" type="text" name="especie" placeholder="{{aves_dict[ave].Especie[0]|upper}}{{aves_dict[ave].Especie[1:]}}"></td>
              </tr>
              <tr>
                <td>Edad:</td>
                <td><input class="form" type="text" name="edad" placeholder="{{aves_dict[ave].Edad[0]|upper}}{{aves_dict[ave].Edad[1:]}}"></td>
              </tr>
              <tr>
                <td>Estado de salud:</td>
                <td><input class="form" type="text" name="estsalud" placeholder="{{aves_dict[ave].EstSalud[0]|upper}}{{aves_dict[ave].EstSalud[1:]}}"></td>
              </tr>
              <tr>
                <td>Requerimientos de cuidado:</td>
                <td><input class="form" type="text" name="requer" placeholder="{{aves_dict[ave].Requer[0]|upper}}{{aves_dict[ave].Requer[1:]}}"></td>
              </tr>
        {% endfor %}
              <tr>
              {% for tipo in refugios_ave %}
                <p hidden id="tiporef"> {{refugios_ave[0]}} </p>
              {% endfor %}              
                <td>Necesita un lugar para: </td>
                <td>
                <input type="radio" id="hogar" name="tiporef" value="hogar">
                <label for="tiporef">Hogar (permanente)</label><br>
                <input type="radio" id="transito" name="tiporef" value="transito">
                <label for="tiporef">Tránsito</label><br>
                </td>
              </tr>
              <tr>
                {% for ubicacion in ubic_dict %}
                <td>Ubicación actual del ave: </td>
                <td><input class="form" type="text" id="ubicacion" name="ubicacion" placeholder="{{ubic_dict[ubicacion].Direccion}}"></td>
                {% endfor %}
              </tr>
              <tr>
                {% for telefono in telef_dict %}
                <td>Teléfono de contacto (celular y/o Whatsapp): </td>
                <td><input class="form" type="text" name="telef" placeholder="{{telef_dict[telefono].Telefono}}"></td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    
    <div class="col-4">
        {% for ave in aves_dict %}
        {% set foto = 'static/upload/' + aves_dict[ave].Foto  %}
            <img src= {{ foto }} class="card-img-top" alt="..." style="max-width: 22rem; border-radius: 8px; ;object-fit:cover;">
        {% endfor%}
       
        <input id="foto" type="file" name="file"> <br>
        
        <input type="submit" value="Confirmar cambios">
        </form>
    </div>   
     
    
  </div>
</div>

<script>
 
 $(document).ready(function(){
 
  /*Google Places Autocomplete*/
  var searchInput = 'ubicacion';
  
  var autocomplete;
  autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
    types: ['geocode'],
  });
    
  google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var near_place = autocomplete.getPlace();
      document.getElementById('loc_lat').value = near_place.geometry.location.lat();
      document.getElementById('loc_long').value = near_place.geometry.location.lng();
  });
 });
 
  /*Selección por defecto en radio form del tipo de refugio ya registrado en BD*/
  $(document).ready(function(){
    var default_tiporef = $("#tiporef").html();
    console.log(default_tiporef);
    if (default_tiporef == ' Tránsito ') { 
      $("#transito").prop('defaultChecked',true);
    }
    else {
      $("#hogar").prop('defaultChecked',true);
    }
  });
 
 </script>
{% endblock %}

