{% extends "layout.html" %}

{% block content %}
<div class="container-fluid d-flex" style="padding: 0; min-height: 100%; height: 100%;">
    <div class="bg-image" 
    style="background-image: url('static/images/torcacita.jpg');
        height: 100vh; background-size: cover; width: 100%; position:absolute">
    </div>
    <div class="row h-100">
        <h1 class="col-9 display-4 text-end" style="color:white; z-index: 10; padding-top: 15%; padding-bottom:5%">Ayudemos a nuestras aves caídas.</h1>
        <div class="col-3 card" style="padding-top: 5%; color: rgb(175, 175, 175); background : rgba(0,0,0,0.5)">
            <div class="card-body h-100">
                <h5 class="card-title">Reportar un ave caída</h5>
                <a href="{{ url_for('addbird') }}" class="btn btn-primary">Ingresar</a>
                <h5 class="card-title">Ofrecer un hogar o lugar de tránsito para un ave</h5>
                <a href="{{ url_for('addplace') }}" class="btn btn-primary">Ingresar</a>
                <h5 class="card-title">Mostrar aves y refugios cercanos</h5>
                <a href="{{ url_for('search') }}" class="btn btn-primary">Mostrar en el mapa</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}  

