{% extends "layout.html" %}

{% block head %}
<title>Iniciar sesión</title>
{% endblock %}  

{% block navbar %}
<li><a href="{{ url_for('index') }}" class="nav-link px-2 text-secondary">Inicio</a></li>
<li><a href="{{ url_for('addbird') }}" class="nav-link px-2 text-white">Reportar un ave</a></li>
<li><a href="{{ url_for('addplace') }}" class="nav-link px-2 text-white">Ofrecer un refugio</a></li>            
<li><a href="{{ url_for('search') }}" class="nav-link px-2 text-white">Buscar aves o refugios</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid d-flex"></div>
    <div class="card">
      <div class="card-body">
        <form method='POST' action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group"> 
        <h1>Log In</h1>
        <div class="form-group">
            {{ form.email.label(class="form-control-label")}}
            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            </div>
            {% else %}  
            {{ form.email(class="form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label")}}
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg")}}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.remember(class="form-check-input") }} 
            {{ form.remember.label(class="form-check-label") }}
        </div>
        </fieldset>
        <div class="form-group">
        {{ form.submit(class="btn btn-outline-info")}}
        </div>
        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}"/>
        <a href="javascript:void(0)" onclick="location.href='/reset'">Olvidó su contraseña?</a>
        </form>
        <h6>Crear una cuenta <a href="javascript:void(0)" onclick="location.href='/register'">Regístrese ahora</a></h6>
{% endblock content %}