{% extends "layout.html" %}

{% block head %}
<title>Mi cuenta</title>
{% endblock %}  

{% block content %}
<div class="container-fluid d-flex"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-group">
                {% for ave in aves_dict %}
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    {% set i = 0 %}
                    <div class="card-header">En busca de {{ refugios_ave[i] }}</div>
                    {% set i = i + 1 %}
                    <div class="card-body">
                    <h5 class="card-title">{{ aves_dict[ave].Especie }}</h5>
                    {% set foto = 'static/upload/' + aves_dict[ave].Foto  %}
                    <img src= {{ foto }} class="card-img-top" alt="..." style="max-width: 12rem; border-radius: 8px; height: 8rem;object-fit:cover;">
                    <a href="#" class="btn btn-primary" id="editar_ave">Editar</a><span></span>
                    <a href="#" class="btn btn-primary" id="buttonDelAve">Eliminar</a>  
                    </div>
                </div>
                {% endfor %}
                {% for refugio in refug_dict %}
                
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    {% for ubic in ubic_dict %}
                        {% if ubic_dict[ubic].Id == refug_dict[refugio].Id_UBICACIONES %}
                            {% set direccion = ubic_dict[ubic].Direccion %} 
                            {% set direccion = direccion.split(',') %}
                            {% set direccion = direccion[0] + ', ' + direccion[1] %}
                            <div class="card-header">En {{ direccion }}</div>
                        {% endif %}
                    {% endfor %}
 
                    <div class="card-body">
                    <h5 class="card-title">Refugio para
                        {% set especies = [refug_dict[refugio].Id_ESPECIES1, refug_dict[refugio].Id_ESPECIES2,
                            refug_dict[refugio].Id_ESPECIES3, refug_dict[refugio].Id_ESPECIES4] %}
                        {% for especie in especies [:-1] %}
                            {% if especie != 'NULL' %}
                            {{  especie }},
                            {% endif %}  
                        {% endfor %}
                        {% if especies[-1] != 'NULL' %}
                            y {{ especies[-1] }}.
                        {% else %}
                            y {{ especies[-3] }}.    
                        {% endif %}
                    </h5>
                    
                    <a href="#" class="btn btn-primary">Editar</a>
                    <a href="#" class="btn btn-primary" id="buttonDelRefugio">Eliminar</a>  

                    <!-- Modal REFUGIOS-->
                    <div class="modal fade" id="modalDeleteRef" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><p>Eliminar refugio</p></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            <div>¿Desea eliminar este refugio?</div>
                            </div>
                            <div class="modal-footer">
                            <form action="/profile/deleteRef" method="post">
                                {% set delete_id_refugio = refug_dict[refugio].Id %}
                                <input type="submit" class="btn btn-primary" value="Eliminar">
                                <input name="delete_id_refugio" type="hidden" value="{{ delete_id_refugio }}">
                            </form>

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                        </div>      
                    </div>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
document.getElementById("buttonDelRefugio").addEventListener("click", function() {
    var myModal = new bootstrap.Modal(document.getElementById('modalDeleteRef'))
    myModal.show();
    event.preventDefault();
});    
</script>
{% endblock %}  