{% extends "layout.html" %}

{% block navbar %}
<li><a href="{{ url_for('index') }}" class="nav-link px-2 text-secondary">Inicio</a></li>
<li><a href="{{ url_for('addbird') }}" class="nav-link px-2 text-white">Reportar un ave</a></li>
<li><a href="{{ url_for('addplace') }}" class="nav-link px-2 text-white">Ofrecer un refugio</a></li>            
<li><a href="{{ url_for('search') }}" class="nav-link px-2 text-white">Buscar aves o refugios</a></li>
{% endblock %}

{% block head %}
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqoKvZMX0sWGNCDPWKYyBvLNkkPrV6KvE&region=AR&language=es&callback=initMap&v=weekly"
  async></script>
  <script>
    let ubic_dict = "{{ubic_dict|safe}}";
    ubic_dict = JSON.parse(ubic_dict.replace(/'/gi,"\""));
    const ubic_len = Object.keys(ubic_dict).length; 
    let aves_dict = "{{aves_dict|safe}}";
    aves_dict = JSON.parse(aves_dict.replace(/'/gi,"\""));
    const aves_len = Object.keys(aves_dict).length;
    let refug_dict = "{{refug_dict|safe}}";
    refug_dict = JSON.parse(refug_dict.replace(/'/gi,"\""));
    const refug_len = Object.keys(refug_dict).length;
    let telef_dict = "{{telef_dict|safe}}";
    telef_dict = JSON.parse(telef_dict.replace(/'/gi,"\""));
    const telef_len = Object.keys(telef_dict).length;
    let espe_dict = "{{espe_dict|safe}}";
    espe_dict = JSON.parse(espe_dict.replace(/'/gi,"\""));
    const espe_len = Object.keys(espe_dict).length;
    let tiporef_dict = "{{tiporef_dict|safe}}";
    tiporef_dict = JSON.parse(tiporef_dict.replace(/'/gi,"\""));
    const tiporef_len = Object.keys(tiporef_dict).length;

    $(document).ready(function(){
        $("#alert").fadeOut(10000);
    }); 

  </script>
  <script src="{{ url_for('static', filename='search.js')}}"></script>
  <title>Mapa de aves y refugios</title>

{% endblock %}  
   
{% block content %}
<div>
  {% for message in get_flashed_messages() %}
    <div class="alert alert-success" id="alert">{{ message }}</div>
  {% endfor %}            
</div>   
<div class="container-fluid d-flex main">
  <div class="row inside-main  align-items-center">
    <div class="col-3 main-left">
      <div class="card h-100" style="color: #dee2e6;background-color:rgba(0,0,0,0.4);">
        <h4 class="card-header">Visualizar en el mapa...</h4>
        <div class="card-body" style="padding: 1rem">
          <p class="card-text"style="font-weight:bold;font-size:large; margin-top:0.5rem;">Aves que esperan un refugio:</p>
          <div style="padding-left:1rem">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="idPalomas" checked>
              <label class="form-check-label" for="flexCheckChecked">
                Palomas (torcazas, urbanas, etc.)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="idPeqsil" checked>
              <label class="form-check-label" for="flexCheckChecked">
                Pequeñas aves silvestres (gorriones, horneros, etc.)
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="idMedsil" checked>
              <label class="form-check-label" for="flexCheckChecked">
                Aves silvestres de mayor tamaño (loros, búhos, chimangos, etc.) 
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="idCorral" checked>
              <label class="form-check-label" for="flexCheckChecked">
                Aves de corral (gallinas, patos, gansos, etc.) 
              </label>
            </div>
          </div>  
          <div class="form-check" style="margin:1rem 0 1rem 0;">
            <input class="form-check-input" type="checkbox" value="" id="idRefugios" checked> 
            <label class="form-check-label " style="font-weight:bold;font-size:large" for="flexCheckChecked">
              Refugios
            </label>
          </div>
        </div>
      </div>
    
    
      <!-- Modal AVES-->
      <div class="modal fade" id="modal_aves" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Información sobre el ave</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div><span class="negrita">Especie: </span><span id="especie"></span><span>.</span></div>
              <div><span class="negrita">Edad: </span><span id="edad"></span><span>.</span></div>
              <div><span class="negrita">Estado de salud: </span><span id="estsalud"></span><span>.</span></div>
              <div><span class="negrita">Requerimientos de cuidado: </span><span id="requer"></span><span>.</span></div>
              <div><span class="negrita">Necesita un lugar para: </span><span id="tiporef"></span><span>.</span></div>
              <div><span class="negrita">Ubicación actual del ave: </span><span id="ubicacion-a"></span><span>.</span></div>
              <div><span class="negrita">Teléfono de contacto (celular y/o Whatsapp): </span><span id="telefono"></span></div>
              <br><div class="gm-style img"><div id="foto"></div></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal REFUGIOS-->
      <div class="modal fade" id="modal_refugios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Información sobre el refugio</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div><span class="negrita">Ubicación: </span><span id="ubicacion-r"></span><span>.</span></div>
              <div><span class="negrita">Refugio para: </span><span id="tiporef1"></span><span id="tiporef2"></span><span id="tiporef3"></span><span>.</span></div>              
              <div><span class="negrita">Puede alojar: </span><span id="especies"></span><span>.</span></span></div>          
              <div><span class="negrita">Teléfono de contacto (celular y/o Whatsapp): </span><span id="telefono-r"></span></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>      
      </div>
    </div>

    <div class="col-9 main-right">
      <div id="map" class="w-auto" style="margin: 1.5rem 0 0 1rem"></div>

    </div>
  </div>
</div>  

{% endblock %}